<div class="scroll-watcher"></div>
<div class="flex bg-body flex-col pt-20">
  <div #wrapper class="wrapper relative w-full pt-14">
    <div class="w-full mobile:max-tablet:hidden">
      <async-canvas [wrapper]="wrapper"></async-canvas>
    </div>

    <div class="hero-section relative container to-animate">
      <div class="w-full lg:w-1/2 relative">
        <h1
          class="text-5xl text-gradient text-animation w-full text-left mobile:max-tablet:text-3xl mobile:max-tablet:text-center"
        >
          Your Vision, Our Code – Custom Web Solutions That Inspire
        </h1>
        <p class="text-white leading-8 my-8 text-animation w-full text-left mobile:max-tablet:text-center">
          At <span class="text-gradient">Async-it</span>, we believe every
          project is unique. Our expert developers and designers work closely
          with you to craft web solutions that are not only functional but also
          visually stunning. From concept to launch, we ensure every detail
          reflects your vision, delivering a seamless online experience that
          engages and inspires your audience.
        </p>
      </div>
      <div class="console-img hidden">
        <img src="images/console.svg" />
      </div>
      <div class="blur-circle blue"></div>
      <div class="blur-circle green"></div>
    </div>
    <div class="to-animate container py-14">
      <h2 class="text-5xl text-gradient text-center text-animation w-full mobile:max-tablet:text-3xl">
        We offer a complete range of web services, from initial development to
        maintenance and improvements.
      </h2>
    </div>
  </div>

  <!-- <div class="flex">
    <div class="w-1/4 text-white">Technologies</div>
    <div class="w-3/4">
      <async-carousel></async-carousel>
    </div>
  </div> -->

  <div class="container justify-between items-center gap-6 pb-14 !mt-4">
    <div
      class="to-animate flex mobile:max-tablet:flex-col mobile:max-tablet:items-center justify-between px-6 w-full"
    >
      <async-card
        [settings]="{
          icon: 'images/colab.svg',
          header: 'Technical Support',
          body: 'We provide 24/7 access to highly skilled technical support engineers, ensuring exceptional expertise and reliable top-tier performance.'
        }"
      ></async-card>
      <async-card
        [settings]="{
          icon: 'images/lock.svg',
          header: 'Web Application Development',
          body: 'We build exceptional web applications with a focus on practical solutions, elegant and intelligent design, clean code, and solid architecture.'
        }"
      ></async-card>
      <async-card
        [settings]="{
          icon: 'images/chart.svg',
          header: 'IT Strategy & Consulting',
          body: ' Our IT consulting services empower you to prioritize your core needs while aligning software technology and financial goals with your operational objectives.'
        }"
      ></async-card>
    </div>
  </div>
</div>

<div class="container py-14 flex-col bg-white">
  <h2 class="text-body text-left technologies-h2">Technologies:</h2>
  <div
    class="technologies flex rounded-3xl justify-between overflow-hidden pt-14 min-h-[]"
  >
    <div class="relative image-wrapper hidden">
      <img
        src="/images/unsplash-texture.jpg"
        alt=""
        style="object-position: -150px 0"
      />
    </div>
    <div class="job-content">
      <!-- <div class="job-content-title">Our Technologies Stack</div> -->
      <div class="w-layout-grid">
        <div class="technologies-item">
          <img src="/images/js.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img src="/images/node.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img
            src="/images/angular.avif"
            alt=""
            class="technologies-item-logo"
          />
        </div>
        <div class="technologies-item">
          <img src="/images/react.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img src="/images/html5.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img src="/images/sass.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img src="/images/git.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img
            src="/images/github.avif"
            alt=""
            class="technologies-item-logo"
          />
        </div>
        <div class="technologies-item">
          <img src="/images/npm.avif" alt="" class="technologies-item-logo" />
        </div>
        <div class="technologies-item">
          <img
            src="/images/webpack.avif"
            alt=""
            class="technologies-item-logo"
          />
        </div>
        <div class="technologies-item">
          <img src="/images/rest.avif" alt="" class="technologies-item-logo" />
        </div>

        <div class="technologies-item">
          <img src="/images/mongo.avif" alt="" class="technologies-item-logo" />
        </div>
      </div>
    </div>
    <div class="relative image-wrapper hidden">
      <img
        src="/images/unsplash-texture.jpg"
        alt=""
        style="object-position: -250px 0"
      />
    </div>
  </div>
</div>

<div class="flex bg-body flex-col py-14">
  <div class="container flex-col relative">
    <h2 class="text-5xl leading-normal text-gradient text-left mobile:max-tablet:text-3xl">
      Compelling Reasons To Choose Us
    </h2>
    <div
      class="to-animate flex mobile:max-tablet:flex-col mobile:max-tablet:items-center justify-center gap-6 pt-14 text-white"
    >
      <async-card
        [mode]="mode.YES"
        [settings]="{
          header: 'Expert Team',
          subheader: 'With Proven Industry Experience',
          slug: '/blog/expert-team',
          list: [
            '7+ Years of Combined Expertise',
            'Certified Professionals',
            '50+ Projects Delivered Individually'
          ]
        }"
      ></async-card>
      <async-card
        [mode]="mode.YES"
        [settings]="{
          header: 'Fresh Approach',
          subheader: 'With a Focus on Innovation',
          slug: '/blog/fresh-approach',
          list: [
            'Cutting-Edge Technology',
            'Tailored Strategies for Each Client',
            'Agile and Adaptable'
          ]
        }"
      ></async-card>
      <async-card
        [mode]="mode.YES"
        [settings]="{
          header: 'Passion for Excellence',
          subheader: 'And Building Long-Term Relationships',
          slug: '/blog/building-long-term-relationships',
          list: [
            'Client-Centric Mindset',
            'Collaborative Design Process',
            'Special Introductory Pricing'
          ]
        }"
      ></async-card>
    </div>
    <div class="blur-circle blue mobile:max-tablet:hidden"></div>
    <div class="blur-circle green mobile:max-tablet:hidden"></div>
  </div>
</div>

<div class="flex bg-white max-w-[90%] m-auto mt-10">
  <h2
    class="flex my-4 text-body text-5xl leading-normal text-left z-10 relative mobile:max-tablet:flex-col mobile:max-tablet:items-center"
  >
    <span class="pr-6 mobile:max-tablet:pr-0 mobile:max-tablet:text-center"
      >We make your tech process</span
    ><async-typewriter></async-typewriter>
  </h2>
</div>

<div
  class="flex mt-10 py-6 bg-white w-[70%] m-auto mobile:max-tablet:w-[90%]"
  id="contact-form"
>
  <div class="w-full flex mobile:max-tablet:w-full mobile:max-tablet:flex-col">
    <h2
      class="flex w-1/3 my-4 text-body font-bold text-2xl px-6 mobile:max-tablet:w-full"
    >
      Contact us and we’ll get back to you shortly!
    </h2>
    <div
      class="w-2/3 shadow-2xl mobile:max-tablet:w-full mobile:max-tablet:shadow-none"
    >
      <async-contact-form></async-contact-form>
    </div>
  </div>
</div>

<div class="bg-body mb-8 hidden">
  <div class="container flex-col relative py-10 bg-image">
    <div class="w-full h-full absolute z-1 top-0 bg-black opacity-50"></div>
    <h2 class="text-5xl leading-normal text-gradient text-left z-10">
      IT Services to Various Industries
    </h2>
    <div class="flex pt-14 text-white z-10">
      <div class="industries-list w-1/3">
        <ul>
          <ng-container *ngFor="let industry of industries; let index = index">
            <li
              class="mb-4"
              (click)="currentIndustry = industry; activePicture = index"
              [class.active]="industry.name === currentIndustry?.name"
            >
              {{ industry.name }}
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="industry-description w-2/3 leading-loose">
        {{ currentIndustry?.description }}
      </div>
    </div>
  </div>
</div>

<div
  class="flex flex-col items-center bg-white how-do-container-mobile max-w-[75%] m-auto"
>
  <h2 class="flex my-4 text-body font-bold text-2xl">How Do We Work?</h2>

  <div class="flex flex-col">
    <div class="flex relative mb-5 info-block">
      <span class="number flex">1</span>
      <div class="info flex flex-col">
        <span
          class="bg-white title leading-6 font-semibold text-lg tracking-tight inline relative"
          >Send the Request</span
        >
        <span
          class="bg-white subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
          style="color: #45a0f5"
          >Today</span
        >
        <span class="bg-white description text-sm"
          >Provide us with details about your needs</span
        >
      </div>
    </div>
    <div class="flex relative mb-5 info-block">
      <span class="number flex">2</span>
      <div class="info bg-white flex flex-col">
        <span
          class="title leading-6 font-semibold text-lg tracking-tight inline relative"
          >Receive a Proposal</span
        >
        <span
          class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
          style="color: #45a0f5"
          >1-3 business days</span
        >
        <span class="description text-sm"
          >We analyze the request and prepare a
          <span class="font-bold">custom proposal</span></span
        >
      </div>
    </div>

    <div class="flex relative mb-5 info-block">
      <span class="number flex">3</span>
      <div class="info bg-white flex flex-col">
        <span
          class="title leading-6 font-semibold text-lg tracking-tight inline relative"
          >Project Kickoff</span
        >
        <span
          class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
          style="color: #45a0f5"
          >1-2 business weeks</span
        >
        <span class="description text-sm"
          >We finalize all details and sign the contract</span
        >
      </div>
    </div>
    <div class="flex relative mb-5">
      <span class="number flex">4</span>
      <div class="info bg-white flex flex-col">
        <span
          class="title leading-6 font-semibold text-lg tracking-tight inline relative"
          >Delivery & Support</span
        >
        <span
          class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
          style="color: #45a0f5"
          >1-12 months</span
        >
        <span class="description text-sm"
          >We complete the development and hand over the project to the client
        </span>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col bg-white how-do-container">
  <h2 class="flex my-4 text-body font-bold text-2xl">How Do We Work?</h2>
  <div class="how-do-grid py-10">
    <div class="how-do-element first">
      <div class="pl-12">
        <span class="number flex">1</span>
        <div class="info flex flex-col">
          <span
            class="bg-white title leading-6 font-semibold text-lg tracking-tight inline relative"
            >Send the Request</span
          >
          <span
            class="bg-white subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
            style="color: #45a0f5"
            >Today</span
          >
          <span class="bg-white description text-sm"
            >Provide us with details about your needs</span
          >
        </div>
      </div>
    </div>
    <div class="how-do-element second">
      <div class="pl-12">
        <span class="number flex">2</span>
        <div class="info bg-white flex flex-col">
          <span
            class="title leading-6 font-semibold text-lg tracking-tight inline relative"
            >Receive a Proposal</span
          >
          <span
            class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
            style="color: #45a0f5"
            >1-3 business days</span
          >
          <span class="description text-sm"
            >We analyze the request and prepare a
            <span class="font-bold">custom proposal</span></span
          >
        </div>
      </div>
    </div>
    <div class="how-do-element third">
      <div class="content pl-12">
        <span class="number flex">3</span>
        <div class="info bg-white flex flex-col">
          <span
            class="title leading-6 font-semibold text-lg tracking-tight inline relative"
            >Project Kickoff</span
          >
          <span
            class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
            style="color: #45a0f5"
            >1-2 business weeks</span
          >
          <span class="description text-sm"
            >We finalize all details and sign the contract</span
          >
        </div>
      </div>
    </div>
    <div class="how-do-element fourth">
      <div class="content pl-12">
        <span class="number flex">4</span>
        <div class="info bg-white flex flex-col">
          <span
            class="title leading-6 font-semibold text-lg tracking-tight inline relative"
            >Delivery & Support</span
          >
          <span
            class="subtitle inline relative uppercase leading-6 font-semibold text-lg py-1"
            style="color: #45a0f5"
            >1-12 months</span
          >
          <span class="description text-sm"
            >We complete the development and hand over the project to the client
          </span>
        </div>
        <span class="bg-white"></span>
      </div>
    </div>
  </div>
</div>

<footer
  class="min-h-16 bg-white rounded-lg shadow-sm dark:bg-gray-800 border-t border-gray-300"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="#" class="hover:underline">asyncIT</a>. All Rights
      Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="#contact-form" class="hover:underline me-4 md:me-6"
          >Contacts</a
        >
      </li>
      <li>
        <a href="/blog" class="hover:underline me-4 md:me-6">Blog</a>
      </li>
      <li>
        <a href="/portfolio" class="hover:underline me-4 md:me-6">Portfolio</a>
      </li>
    </ul>
  </div>
</footer>
