<ng-container *ngIf="contactForm">
  <form [formGroup]="contactForm">
    <div class="group flex m-4">
      <label class="w-1/3" for="name">Name</label>
      <span
        [ngClass]="{
          'ng-invalid ng-dirty': name.invalid && (name.dirty || name.touched)
        }"
        class="w-full p-inputtext flex items-center"
      >
        <input
          name="name"
          type="text"
          class="flex-1 mr-3"
          formControlName="name"
        />
        <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
          <span class="text-xs text-accent" *ngIf="name.hasError('required')"
            >Name is required.</span
          >
        </ng-container>
      </span>
    </div>

    <div class="group flex m-4">
      <label class="w-1/3" for="surname">Surname</label>
      <span class="w-full p-inputtext flex">
        <input
          name="surname"
          type="text"
          class="flex-1 mr-3"
          formControlName="surname"
        />
      </span>
    </div>
    <div class="group flex m-4">
      <label class="w-1/3" for="email">Email</label>
      <span
        [ngClass]="{
          'ng-invalid ng-dirty': email.invalid && (email.dirty || email.touched)
        }"
        class="w-full p-inputtext flex"
      >
        <input
          name="email"
          type="email"
          class="flex-1 mr-3 items-center"
          formControlName="email"
        />
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
            <span class="text-xs text-accent" *ngIf="email.hasError('required')"
              >Email is required.</span
            >
            <span class="text-xs text-accent" *ngIf="email.hasError('email')"
              >Wrong email format.</span
            >
          </ng-container>
      </span>
    </div>
    <div class="group flex m-4">
      <label class="w-1/3" for="message">Message</label>
      <span class="w-full p-inputtext flex">
        <textarea
          name="message"
          id="message"
          rows="8"
          class="flex-1 mr-3"
          formControlName="message"
        ></textarea>
      </span>
    </div>
    <div class="group flex m-4 justify-end">
      <button pButton label="Send" class="p-button-accent" [disabled]="contactForm.invalid" (click)="send()"></button>
    </div>
  </form>
</ng-container>
