@keyframes changeBorders {
  0% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
  }
  25% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
  }
  25.02% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
    border-bottom: solid 1px #98a2b3;
  }
  50% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
    border-bottom: solid 1px #98a2b3;
  }
  50.02% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
    border-bottom: solid 1px #98a2b3;
    border-right: solid 1px #98a2b3;
  }
  75% {
    border: solid 1px #040415;
    border-left: solid 1px #98a2b3;
    border-bottom: solid 1px #98a2b3;
    border-right: solid 1px #98a2b3;
  }
  75.02% {
    border: solid 1px #98a2b3;
  }
}

@keyframes movedown {
  0% {
    height: calc(100% + 0px);
    width: 15px;
    bottom: 0px;
    left: -1px;
  }
  25% {
    height: 1px;
    width: 1px;
    bottom: -1px;
    left: -1px;
  }
  25.01% {
    height: 15px;
    width: calc(100% + 1px);
    bottom: -1px;
    left: -1px;
  }
  50% {
    height: 1px;
    width: 0%;
    left: 100%;
    bottom: -1px;
  }
  50.01% {
    height: calc(100% + 12px);
    width: 15px;
    left: calc(100% - 12px);
    bottom: -5px;
  }
  75% {
    height: 0;
    width: 1px;
    left: 100%;
    bottom: 100%;
  }
  75.01% {
    height: 15px;
    width: calc(100% + 2px);
    left: 0%;
    bottom: calc(100% - 10px);
  }
  99.01% {
    height: 1px;
    width: 0;
    left: 0;
    bottom: 100%;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.in-view {
  h1.text-animation {
    animation: left_to_right 1s ease;
  }

  p.text-animation {
    animation: left_to_right 1s ease;
  }

  h2.text-animation {
    animation: left_to_right 1s ease;
  }

  .advantage {
    animation: fade 2s 0.2s both;
  }

  .movingBorder {
    border: solid 1px #98a2b3;
    position: relative;
    background: #040415;
    border-radius: 1rem;
    animation: changeBorders 1s linear both;
  }

  .movingBorder::after {
    width: 15px;
    background-color: #040415;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: -1px;
    z-index: 1;
    animation: movedown 1s linear;
    animation-fill-mode: forwards;
    content: "";
    display: inline-block;
  }
}

.not-in-view {
  .text-animation,
  .movingBorder {
    opacity: 0;
  }
}

.industries-list {
  .active {
    position: relative;
    background: #26e3c2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid #45a0f5;
    }
  }
}

h1 {
  font-size: 72px;
}

.technologies-h2 {
  font-size: clamp(26px, 3.44vw, 44px);
  font-weight: 500;
  line-height: clamp(32px, 4.38vw, 56px);
}

.how-do-container-mobile,
.how-do-container {
  .number {
    background: #45a0f5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: center;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 8px solid #fff;
  }
}

.how-do-container-mobile {
  .number {
    left: -60px;
    top: 0px;
  }

  .info-block {
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 33px;
      bottom: -11px;
      left: -36px;
      border-left: 1px dashed #45a0f5;
    }
  }
}

.how-do-container {
  margin: 0 auto;
  position: relative;

  .how-do-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    .how-do-element {
      position: relative;
      flex-basis: 50%;

      div {
        width: 285px;
        position: relative;
        z-index: 1;
      }

      .number {
        left: 0px;
        top: -14px;
      }

      &.first {
        padding-bottom: 60px;

        &::after {
          content: "";
          position: absolute;
          width: 50%;
          top: 12px;
          right: -10px;
          border-top: 1px dashed #45a0f5;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 15px solid #45a0f5;
          margin-right: 8px;
          position: absolute;
          right: -9px;
          top: 7px;
          z-index: 1;
        }
      }

      &.second {
        &::after {
          content: "";
          position: absolute;
          top: 12px;
          right: 0;
          width: 100%;
          bottom: -1px;
          border-radius: 0 100px 100px 0;
          border-top: 1px dashed #45a0f5;
          border-right: 1px dashed #45a0f5;
          border-bottom: 1px dashed #45a0f5;
        }
      }

      &.third {
        padding-top: 85px;

        .content {
          margin-left: 30%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 95px;
          border-radius: 100px 0 0 100px;
          border-top: 1px dashed #45a0f5;
          border-left: 1px dashed #45a0f5;
          border-bottom: 1px dashed #45a0f5;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 15px solid #45a0f5;
          margin-right: 8px;
          position: absolute;
          top: 49%;
          left: 28%;
          z-index: 1;
        }
      }

      &.fourth {
        padding-top: 85px;

        .content {
          margin-left: 25%;
        }

        &::after {
          content: "";
          position: absolute;
          width: 35%;
          top: 94px;
          left: 0;
          border-top: 1px dashed #45a0f5;
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 15px solid #45a0f5;
          margin-right: 8px;
          position: absolute;
          top: 49%;
          left: 23%;
          z-index: 1;
        }
      }
    }
  }
}

.technologies {
  .job-content {
    text-align: center;
    flex: 1;
    justify-content: center;
    min-width: clamp(194px, 24.84vw, 318px);
    margin-left: clamp(23px, 3.75vw, 48px);
    margin-right: clamp(23px, 3.75vw, 48px);
    display: flex;

    .job-content-title {
      font-size: clamp(18px, 1.56vw, 20px);
      font-weight: 700;
      line-height: 28px;
    }

    .w-layout-grid {
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
      grid-row-gap: clamp(10px, 1.5vw, 16px);
      grid-column-gap: clamp(10px, 1.5vw, 16px);
      grid-template-rows: auto;

      .technologies-item {
        border: 1px solid #e1dcfc;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        height: clamp(31px, 3.98vw, 51px);
        display: flex;
        overflow: hidden;
        grid-area: span 1 / span 1 / span 1 / span 1;

        &:hover {
          background: #fff;
          border-color: #cfd1d1;
          box-shadow: 0px 0px 20px rgba(104, 108, 110, 0.08);
        }

        .technologies-item-logo {
          object-fit: scale-down;
          object-position: 50% 50%;
          width: 86%;
          height: 80%;
          vertical-align: middle;
          max-width: 100%;
          display: inline-block;
        }
      }
    }
  }

  .image-wrapper {
    img {
      object-fit: cover;
      object-position: 50% 50%;
      border-radius: 23px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      vertical-align: middle;
      max-width: 100%;
      display: inline-block;
    }
  }
}

.blur-circle {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  filter: blur(175px);
  z-index: 10;

  &.blue {
    background-color: #45a0f5;
    top: 60%;
    right: 0%;
  }
  &.green {
    background-color: #26e3c2;
    top: 40%;
    right: 0%;
  }
}
