@import "primeicons/primeicons.css";
@import "./preflight.scss";
@import url("~primeng/resources/themes/lara-light-purple/theme.css");
@import url("~primeng/resources/primeng.min.css");
@import 'ngx-toastr/toastr';

@font-face {
  font-family: "KumbhSans";
  src: url("/fonts/KumbhSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "KumbhSans", system-ui, sans-serif !important;
}

.container {
  margin: 0 auto;
  width: 1110px;
  max-width: 92%;
  position: relative;
  display: flex;
}

@media (min-width: 1025px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 991px) {
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
}

.p-inputtext {
  @apply p-1;

  input, textarea {
    outline: none;
  }

  &:focus-within {
    @apply border-gray-400;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #e6e8fe;
  }
}
